.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    .reset-password-card {
        .p-card-content {
            display: flex;
            flex-direction: column;
            min-width: 450px;
            gap: 8px;
        }
    }
}
