# =========================
# .NET / C#
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.iml

# User secrets
secrets.json

# =========================
# Build / Test / Logs
# =========================
artifacts/
TestResults/
*.trx
*.coverage*
logs/
Logs/
*.log

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.cache/
.next/
out/
.pnp/
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Docker / Environment
# =========================
infra/.env
infra/.env.*
docker/pgadmin_data/
docker/db_data/

# =========================
# Local databases
# =========================
*.mdf
*.ldf

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
