.p-inputtext,
.p-icon-field,
.p-password,
.p-unselectable-text {
    width: 100%;
}

.p-tabview,
.p-tabview-panels,
.p-tabview-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.p-card .p-card-content {
    padding: 0;
}
.buttons-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
