*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #f8fafc;

  color: #1f2937;
}

:root {
  --vm-success: #16a34a;
  --vm-error: #dc2626;
}
