.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-card {
        .p-card-content {
            display: flex;
            flex-direction: column;
            min-height: 300px;

            gap: 8px;
        }
        .p-card-title {
            display: flex;
            justify-content: center;
        }
    }
}
